body {
    --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1);
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);

    display: block;
    text-align: center;
}

span {
    margin: auto;
}

#win-result-span {
    display: none;
}

#lose-result-span {
    display: none;
}

#draw-result-span {
    display: none;
}